/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --bg-image: url(/images/cover-image-dark.png);
  --bg-color_main: #000028;
  --title-font-color: #FF0070;
  --text-font-color: #F1B2CE;
  --shadow-font-color: #DB00FF;
  --padding: 10px;
  --padding-big: 20px;
  --main-font: 'IBM Plex Mono';
  --main-font-size: 18px;
  --line-height-title: 95.7px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-image: url(/images/cover-image-dark.png);
    --bg-color_main: #000028;
    --title-font-color: #FF0070;
    --text-font-color: #F1B2CE;
    --shadow-font-color: #DB00FF;
    --padding: 10px;
    --padding-big: 20px;
    --main-font: 'IBM Plex Mono';
    --main-font-size: 18px;
    --line-height-title: 95.7px;
  }
} 

